<a href="https://colab.research.google.com/github/prasad4fun/ML-Portfolio/blob/master/SGD_from_scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn.datasets import load_boston
boston = load_boston()

In [0]:
import pandas as pd
df = pd.DataFrame(boston.data)
df.columns = boston.feature_names

In [4]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [0]:
df["PRICE"] = boston["target"]

In [0]:
X = df.drop('PRICE', axis=1)
Y = df['PRICE']

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3)

In [0]:
from sklearn.preprocessing import StandardScaler
stdscaler = StandardScaler()
X_train = stdscaler.fit_transform(X_train)
X_test = stdscaler.transform(X_test)

In [9]:
X_train.shape

(354, 13)

In [0]:
import numpy as np
def SGD(X, y, b=0, r = 0.1):
  n, m = X.shape
  W = np.zeros(m)
  costs = []
  decay_rate = 0.0001

  for i in range(100):
    
    r = r * (1.0/(1+decay_rate*i))
    h = np.dot(X, W) + b
    delta = h - y

    cost = np.sum(delta ** 2) / n

    W_grad = (-2.0/n) * (np.dot(X, delta)) 
    b_grad = (-2.0/n) * np.sum(delta)

    W = W - r * W_grad
    b = b - r * b_grad
    
    costs.append(cost)
    
  return W, b, cost

In [13]:
SGD(X_train, Y_train)

ValueError: ignored